{
    "tabWidth": 2,
    "printWidth": 80,
    "trailingComma": "all",
    "endOfLine": "auto",
    "singleQuote": true,
    "jsxSingleQuote": false,
    "jsxBracketSameLine": false,
    "arrowParens": "always",
    "semi": false,
    "useTabs": false,
    "quoteProps": "as-needed",
    "bracketSpacing": true
}
