@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-tap-highlight-color: transparent; /* remove Android highlights taps  */
  }
}
@layer utilities {
  /* Hide Scrollbar */
  .no-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.loadingA4Page {
  @apply rounded-lg ring-black ring-1;
}

.react-pdf__Page__canvas,
.react-pdf__Page__svg,
.react-pdf__Document {
  @apply rounded-lg;
}
